# Prevent built binaries from being checked in accidentally.
/dist
/encore
/git-remote-encore
/target

# Don't commit dotfiles
/.encore
/.vscode

# Build artifact that must be placed alongside go files for Windows
*.syso

# JetBrains
.idea
.fleet
.run

# MacOS
.DS_Store

runtimes/supervisor-encore
