package {{.Pkg.Name}}

import (
	"os"
	"testing"

	"encore.dev/runtime"
	"encore.dev/runtime/config"
	"encore.dev/storage/sqldb"
)

func TestMain(m *testing.M) {
	// Register the Encore services
	services := []*config.Service{
{{- range .Svcs}}
		{
			Name: "{{.Name}}",
			RelPath: "{{.Root.RelPath}}",
			SQLDB: {{usesSQLDB .}},
			Endpoints: nil,
		},
{{- end}}
	}

	// Set up the Encore runtime
	cfg := &config.ServerConfig{
		Services: services,
		Testing: true,
	}
	runtime.Setup(cfg)
	sqldb.Setup(cfg)
	os.Exit(m.Run())
}