@tailwind base;
@tailwind components;
@tailwind utilities;

/* purgecss start ignore */
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

html, body {
    @apply h-full min-h-screen;
  }

html {
    font-size: 16px; /* Force the definition of 16px as 1rem */
    @apply bg-white text-black;
} /* For media query enabled support */

html.dark {
    @apply bg-black text-white;
    --primary-bg-color: #111111;
} /* For class based support (the media query dark: doesn't work on the html tag) */

@media (prefers-color-scheme: dark) {
    html {
        /* For media query only support */
        --primary-bg-color: #111111;
    }
}

:root {
    /* Default to a 1px size underline gradient if not specified on the element. */
    --underline-bar-height: max(1px, 0.05154639175vw);
    --underline-bar-bg: currentColor;
    --brandient-scrub-amount: 0%;
    --nav-bar-height: 64px;
}

body {
    @apply text-body mobile:text-mobile-body antialiased;
}

pre {
    tab-size: 4;
}

.tooltip .tooltip-text {
    display: none;
    text-align: center;
    padding: 2px 6px;
    position: relative;
    z-index: 100;
}

.tooltip:hover .tooltip-text {
    display: block;
}

@layer base {
    .header-main { @apply font-header font-black text-headline-xxl mobile:text-mobile-headline tracking-tightish; }
    .header-xlarge { @apply font-header font-black text-headline-xl mobile:text-mobile-headline tracking-tightish; }
    .header-large { @apply font-header font-black text-headline-l mobile:text-mobile-headline tracking-tightish; }
    .heading { @apply font-header font-black text-heading mobile:text-mobile-heading tracking-tightish; }
    .heading-small { @apply font-header font-black text-heading-s mobile:text-mobile-heading tracking-tightish; }

    .lead-2xl { @apply font-sans font-normal text-2xl mobile:text-mobile-lead tracking-tightish; }
    .lead-xlarge, .lead-xl { @apply font-sans font-normal text-xl mobile:text-mobile-lead tracking-tightish; }
    .lead-large, .lead-lg { @apply font-sans font-normal text-lg mobile:text-mobile-lead-l tracking-tightish; }
    .lead-medium, .lead-base { @apply font-sans font-normal text-base mobile:text-mobile-lead tracking-tight; }
    .lead-small, .lead-sm { @apply font-mono font-normal text-sm mobile:text-mobile-lead-s tracking-tightish; }
    .lead-xsmall, .lead-xs { @apply font-mono font-normal text-xs mobile:text-mobile-lead-s; }
    .lead-xxsmall { @apply font-mono font-normal text-xs mobile:text-mobile-lead-xs; }

    .body-3xl { @apply font-sans font-normal text-3xl mobile:text-mobile-body-l tracking-tightish; }
    .body-2xl { @apply font-sans font-normal text-2xl mobile:text-mobile-body-l tracking-tightish; }
    .body-xl { @apply font-sans font-normal text-xl mobile:text-mobile-body-l tracking-tightish; }
    .body-large, .body-lg { @apply font-sans font-normal text-lg mobile:text-mobile-body-l tracking-tightish; }
    .body-base { @apply font-sans font-normal text-base mobile:text-mobile-body tracking-tightish; }
    .body-small, .body-sm { @apply font-sans font-normal text-sm mobile:text-mobile-body tracking-tight; }
    .body-xsmall, .body-xs { @apply font-sans font-normal text-xs mobile:text-mobile-body tracking-tight; }
    .blog-copy { @apply font-sans font-normal text-blog mobile:text-mobile-blog tracking-tight; }

    .list-copy { @apply font-mono font-normal text-list mobile:text-mobile-list tracking-tightish; }

    .code-small, .code-sm { @apply font-mono font-normal text-code-s mobile:text-mobile-code-s; }
    .code-xmsmall { @apply font-mono font-normal text-code-xs mobile:text-mobile-code-xms; }
    .code-xsmall, .code-xs { @apply font-mono font-normal text-code-xs mobile:text-mobile-code-xs; }

    input[type="radio"] {
        @apply appearance-none bg-white border !border-black m-0 rounded-full w-[1.15em] h-[1.15em] text-current font-[inherit] focus:ring-black focus:ring-offset-0 focus:ring-1;
    }
    input[type="radio"]:checked {
        background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='8' fill='%23EEEEE1' /%3e%3ccircle cx='8' cy='8' r='5.5' fill='%23111111'/%3e%3c/svg%3e") !important;
    }
    input[type="checkbox"] {
        @apply text-black border-black focus:ring-black !bg-white focus:ring-offset-1 focus:ring-2;
    }
    input[type="checkbox"]:checked {
        @apply text-black border-black focus:ring-black !bg-black;
    }
}

@layer utilities {
    .underline-bar {
        position: relative;
    }
    .underline-gradient {
        --underline-bar-bg: linear-gradient(to right, var(--tw-gradient-stops));
    }

    .underline-bar::before {
        @apply absolute top-full w-full left-0;
        content: "";
        height: var(--underline-bar-height);
        animation: ScrollGradientXY 45s linear infinite;
        background: var(--underline-bar-bg);
        background-size: 200% 200%;
        background-position: var(--brandient-start-position) var(--brandient-start-position);
    }

    .no-brandient {
      --underline-bar-bg: transparent;
    }

    a.link-brandient {
        @apply underline-bar-height;
        position: relative;
        text-decoration: none;
        background-image: linear-gradient(to right, var(--underline-bar-bg), var(--underline-bar-bg));
        background-repeat: no-repeat;
        background-position: bottom left;
        background-size: 100% var(--underline-bar-height);
    }
    a.link-brandient:hover {
        @apply underline-gradient;
        background-image: var(--underline-bar-bg);
    }

    .text-brandient, .brandient-1, .brandient-2, .brandient-3, .brandient-4, .brandient-5 {
        background-size: 300% 300%;
        animation: ScrollGradientXY 87s linear infinite;
        background-position: var(--brandient-start-position) var(--brandient-start-position);
    }

    .brandient-full {
        animation: ScrollFullGradientXY 87s linear infinite;
    }

    .brandient-2 { --brandient-start-position: calc( 36% - var(--brandient-scrub-amount)); }
    .brandient-3 { --brandient-start-position: calc( 65% - var(--brandient-scrub-amount)); }
    .brandient-4 { --brandient-start-position: calc(110% - var(--brandient-scrub-amount)); }
    .brandient-5 { --brandient-start-position: calc(150% - var(--brandient-scrub-amount)); }

    /* There appears to be some Tailwind bug with code generation, causing brandient-1 to work but not the other brandients
       even though they are set up identically.  or some reason it is fixed when brandient-1 appears below the others.
       Don't ask me why. */
    .brandient-1 {    --brandient-start-position: calc(-5% - var(--brandient-scrub-amount)); }
    .brandient-full { --brandient-start-position: calc( 0% - var(--brandient-scrub-amount)); background-size: 120% 120%; }

    .list-brandient {
        @apply relative list-none pl-5;
    }
    .list-brandient::before {
        content: "";
        @apply absolute left-0 top-0 bottom-0 w-2px bg-gradient-to-b;
        background-size: 300% 300%;
        animation: ScrollGradientXY 87s linear infinite;
        background-position: var(--brandient-start-position) var(--brandient-start-position);
    }

    .list-brandient-numbered {
        @apply relative list-decimal pl-8;
    }
    .list-brandient-numbered::before {
        content: "";
        @apply absolute left-0 top-0 bottom-0 w-2px bg-gradient-to-b;
        background-size: 300% 300%;
        animation: ScrollGradientXY 87s linear infinite;
        background-position: var(--brandient-start-position) var(--brandient-start-position);
    }

    .progress-bar {
        @apply relative;
        --progress: 0%;
    }
    .progress-bar::before {
        @apply absolute h-full bg-gradient-to-r brandient-full;
        left: 0;
        right: calc(100% - var(--progress));
        background-position: 0 0;
        background-size: 25vw 25vw;
        z-index: 1;
        content: "";
        background-size: 300% 300%;
        animation: ScrollFullGradientXY 30s linear infinite;
    }
    .analysis { color: var(--code-base-color); }

    .code-highlight .hl-blue { @apply text-codeblue; }
    .code-highlight .hl-green { @apply text-codegreen; }
    .code-highlight .hl-orange { @apply text-codeorange; }
    .code-highlight .hl-purple { @apply text-codepurple; }
    .code-highlight .hl-yellow { @apply text-codeyellow; }

    .prose h1 a, .prose h2 a, .prose h3 a, .prose h4 a, .prose h5 a, .prose h6 a {
        --underline-bar-bg: transparent;
    }

    .brand-shadow {
        @apply border-2 border-black dark:border-white shadow-brandy -translate-x-2 -translate-y-2;
    }
}

@keyframes ScrollGradientXY {
    0% {
        background-position: calc(150% + var(--brandient-start-position)) calc(150% + var(--brandient-start-position));
    }
    100% {
        background-position: calc(-150% + var(--brandient-start-position)) calc(-150% + var(--brandient-start-position));
    }
}

@keyframes ScrollFullGradientXY {
    0% {
        background-position: calc(600% - var(--brandient-start-position)) calc(600% - var(--brandient-start-position));
    }
    100% {
        background-position: calc(0 - var(--brandient-start-position)) calc(0 - var(--brandient-start-position));
    }
}

@font-face {
    font-family: 'Beausite Classic';
    font-style:  normal;
    font-weight: 900;
    font-display: swap;
    src: url("/assets/fonts/beausite-classic/BeausiteClassicWeb-Ultrablack.woff2") format("woff2"),
    url("/assets/fonts/beausite-classic/BeausiteClassicWeb-Ultrablack.woff") format("woff");
}



@font-face {
    font-family: 'Suisse Intl';
    font-style:  normal;
    font-weight: 100;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntl-Ultralight-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Ultralight-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Ultralight-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Ultralight-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Ultralight-WebS.eot") format("eot");
}

@font-face {
    font-family: 'Suisse Intl';
    font-style:  italic;
    font-weight: 100;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntl-UltralightItalic-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntl-UltralightItalic-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntl-UltralightItalic-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntl-UltralightItalic-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntl-UltralightItalic-WebS.eot") format("eot");
}

@font-face {
    font-family: 'Suisse Intl';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntl-Thin-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Thin-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Thin-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Thin-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Thin-WebS.eot") format("eot");
}

@font-face {
    font-family: 'Suisse Intl';
    font-style:  italic;
    font-weight: 200;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntl-ThinItalic-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntl-ThinItalic-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntl-ThinItalic-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntl-ThinItalic-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntl-ThinItalic-WebS.eot") format("eot");
}

@font-face {
    font-family: 'Suisse Intl';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntl-Light-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Light-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Light-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Light-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Light-WebS.eot") format("eot");
}

@font-face {
    font-family: 'Suisse Intl';
    font-style:  italic;
    font-weight: 300;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntl-LightItalic-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntl-LightItalic-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntl-LightItalic-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntl-LightItalic-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntl-LightItalic-WebS.eot") format("eot");
}

@font-face {
    font-family: 'Suisse Intl';
    font-style:  normal;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntl-Regular-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Regular-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Regular-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Regular-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Regular-WebS.eot") format("eot");
}

@font-face {
    font-family: 'Suisse Intl';
    font-style:  italic;
    font-weight: 400;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntl-RegularItalic-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntl-RegularItalic-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntl-RegularItalic-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntl-RegularItalic-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntl-RegularItalic-WebS.eot") format("eot");
}

@font-face {
    font-family: 'Suisse Intl';
    font-style:  normal;
    font-weight: 500;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntl-Medium-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Medium-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Medium-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Medium-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Medium-WebS.eot") format("eot");
}

@font-face {
    font-family: 'Suisse Intl';
    font-style:  italic;
    font-weight: 500;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntl-MediumItalic-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntl-MediumItalic-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntl-MediumItalic-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntl-MediumItalic-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntl-MediumItalic-WebS.eot") format("eot");
}

@font-face {
    font-family: 'Suisse Intl';
    font-style:  normal;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntl-SemiBold-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntl-SemiBold-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntl-SemiBold-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntl-SemiBold-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntl-SemiBold-WebS.eot") format("eot");
}

@font-face {
    font-family: 'Suisse Intl';
    font-style:  italic;
    font-weight: 600;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntl-SemiBoldItalic-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntl-SemiBoldItalic-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntl-SemiBoldItalic-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntl-SemiBoldItalic-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntl-SemiBoldItalic-WebS.eot") format("eot");
}

@font-face {
    font-family: 'Suisse Intl';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntl-Bold-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Bold-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Bold-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Bold-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Bold-WebS.eot") format("eot");
}

@font-face {
    font-family: 'Suisse Intl';
    font-style:  italic;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntl-BoldItalic-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntl-BoldItalic-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntl-BoldItalic-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntl-BoldItalic-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntl-BoldItalic-WebS.eot") format("eot");
}

@font-face {
    font-family: 'Suisse Intl';
    font-style:  normal;
    font-weight: 800;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntl-Black-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Black-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Black-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Black-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntl-Black-WebS.eot") format("eot");
}

@font-face {
    font-family: 'Suisse Intl';
    font-style:  italic;
    font-weight: 800;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntl-BlackItalic-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntl-BlackItalic-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntl-BlackItalic-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntl-BlackItalic-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntl-BlackItalic-WebS.eot") format("eot");
}


/* Mono Spaced */
@font-face {
    font-family: 'Suisse Intl Mono';
    font-style:  normal;
    font-weight: 200;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntlMono-Thin-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntlMono-Thin-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntlMono-Thin-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntlMono-Thin-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntlMono-Thin-WebS.eot") format("eot");
}

@font-face {
    font-family: 'Suisse Intl Mono';
    font-style:  normal;
    font-weight: 300;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntlMono-Regular-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntlMono-Regular-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntlMono-Regular-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntlMono-Regular-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntlMono-Regular-WebS.eot") format("eot");
}

@font-face {
    font-family: 'Suisse Intl Mono';
    font-style:  normal;
    font-weight: 700;
    font-display: swap;
    src: url("/assets/fonts/suisse-intl/SuisseIntlMono-Bold-WebS.woff2") format("woff2"),
    url("/assets/fonts/suisse-intl/SuisseIntlMono-Bold-WebS.woff") format("woff"),
    url("/assets/fonts/suisse-intl/SuisseIntlMono-Bold-WebS.ttf") format("ttf"),
    url("/assets/fonts/suisse-intl/SuisseIntlMono-Bold-WebS.svg") format("svg"),
    url("/assets/fonts/suisse-intl/SuisseIntlMono-Bold-WebS.eot") format("eot");
}

.tooltip .tooltip-text {
    visibility: hidden;
    text-align: center;
    padding: 2px 6px;
    position: relative;
    z-index: 100;
  }

  .tooltip:hover .tooltip-text {
    visibility: visible;
  }

  #noise {
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-transition: opacity 1.5s linear;
    -o-transition: opacity 1.5s linear;
    transition: opacity 1.5s linear;

    transform: translate3d(0,0,0);
    position: fixed;
}

#noise > div {
    -webkit-animation: flip .3s steps(1) infinite;
    -webkit-background-size: 500px 500px;
    animation: flip .3s steps(1) infinite;
    background-image: url(/assets/img/noise.png);
    background-size: 500px 500px;
    height: 100%;
    left: 0;
    opacity: .04;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -100;
}

.extra-noise {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    -webkit-transition: opacity 1.5s linear;
    -o-transition: opacity 1.5s linear;
    transition: opacity 1.5s linear;
    transform: translate3d(0,0,0);
}

.extra-noise > div {
    -webkit-animation: flip .3s steps(1) infinite;
    -webkit-background-size: 500px 500px;
    animation: flip .3s steps(1) infinite;
    background-image: url(/assets/img/noise.png);
    background-size: 500px 500px;
    height: 100%;
    left: 0;
    opacity: .04;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 100;
}


.json-tree .nested-node .copy-icon {
  @apply hidden;
}

.json-tree .nested-node:hover > span .copy-icon {
  @apply inline-block;
}

/* purgecss end ignore */
