@tailwind base;
@tailwind components;
@tailwind utilities;

/* Mono Spaced */
@font-face {
  font-family: 'Suisse Intl Mono';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("https://encore.dev/assets/fonts/suisse-intl/SuisseIntlMono-Thin-WebXL.woff") format("woff2"),
  url("https://encore.dev/assets/fonts/suisse-intl/SuisseIntlMono-Thin-WebXL.woff") format("woff"),
  url("https://encore.dev/assets/fonts/suisse-intl/SuisseIntlMono-Thin-WebXL.ttf") format("ttf"),
  url("https://encore.dev/assets/fonts/suisse-intl/SuisseIntlMono-Thin-WebXL.svg") format("svg"),
  url("https://encore.dev/assets/fonts/suisse-intl/SuisseIntlMono-Thin-WebXL.eot") format("eot");
}

@font-face {
  font-family: 'Suisse Intl Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://encore.dev/assets/fonts/suisse-intl/SuisseIntlMono-Regular-WebXL.woff") format("woff2"),
  url("https://encore.dev/assets/fonts/suisse-intl/SuisseIntlMono-Regular-WebXL.woff") format("woff"),
  url("https://encore.dev/assets/fonts/suisse-intl/SuisseIntlMono-Regular-WebXL.ttf") format("ttf"),
  url("https://encore.dev/assets/fonts/suisse-intl/SuisseIntlMono-Regular-WebXL.svg") format("svg"),
  url("https://encore.dev/assets/fonts/suisse-intl/SuisseIntlMono-Regular-WebXL.eot") format("eot");
}

@font-face {
  font-family: 'Suisse Intl Mono';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://encore.dev/assets/fonts/suisse-intl/SuisseIntlMono-Bold-WebXL.woff") format("woff2"),
  url("https://encore.dev/assets/fonts/suisse-intl/SuisseIntlMono-Bold-WebXL.woff") format("woff"),
  url("https://encore.dev/assets/fonts/suisse-intl/SuisseIntlMono-Bold-WebXL.ttf") format("ttf"),
  url("https://encore.dev/assets/fonts/suisse-intl/SuisseIntlMono-Bold-WebXL.svg") format("svg"),
  url("https://encore.dev/assets/fonts/suisse-intl/SuisseIntlMono-Bold-WebXL.eot") format("eot");
}


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

pre.code {
  white-space: no-wrap;
  counter-reset: listing var(--line-start);
}

pre.code code {
  counter-increment: listing;
  display: block;
}

pre.code code::before {
  content: counter(listing) " ";
  display: inline-block;
  width: 4em;
  padding-left: auto;
  margin-left: auto;
  text-align: right;
}

.font-mono {
  font-family: 'Suisse Intl Mono', 'Operator Mono', 'Source Code Pro', Menlo, Monaco, Consolas, Courier New, monospace;
}
