@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

pre.code {
  white-space: no-wrap;
  counter-reset: listing var(--line-start);
}
pre.code code {
  counter-increment: listing;
  display: block;
}
pre.code code::before {
  content: counter(listing) " ";
  display: inline-block;
  width: 4em;
  padding-left: auto;
  margin-left: auto;
  text-align: right;
}