name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        path: encr.dev

    - name: Set up Node
      uses: actions/setup-node@v2.1.5

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.19

    - id: go-cache-paths
      run: |
        echo "::set-output name=go-build::$(go env GOCACHE)"
        echo "::set-output name=go-mod::$(go env GOMODCACHE)"

    - name: Install encore-go
      run: curl --fail -L -o encore-go.tar.gz https://github.com/encoredev/go/releases/download/encore-go1.18.4/linux_x86-64.tar.gz && tar -C . -xzf ./encore-go.tar.gz

    - name: Go Build Cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.go-cache-paths.outputs.go-build }}
        key: ${{ runner.os }}-go-build-${{ hashFiles('**/go.sum') }}

    - name: Go Mod Cache
      uses: actions/cache@v2
      with:
        path: ${{ steps.go-cache-paths.outputs.go-mod }}
        key: ${{ runner.os }}-go-mod-${{ hashFiles('**/go.sum') }}

    - name: Build dashapp
      run: cd encr.dev/cli/daemon/dash/dashapp && npm install && node node_modules/esbuild/install.js && npm test && npm run build

    - name: Build
      run: cd encr.dev && go build ./...

    - name: Test
      run: cd encr.dev && go test -short ./...
      env:
        ENCORE_GOROOT: ${{ github.workspace }}/encore-go

    - name: Build for Windows
      run: cd encr.dev && go build ./...
      env:
        GOOS: windows
